Repository amishshah/prism-media, pull requests merged in 2020-01, with the labels that each got.

#34 Fix ffmpeg-static v3.x compatible
  src/core/FFmpeg.js
Labels: type: ffmpeg

#35 Add support for @discordjs/opus
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
  src/opus/Opus.js
  test/audio/speech_orig.pcm
  typings/opus.d.ts
  yarn.lock
Labels: dependencies, type: opus

#36 typo: Use Oxford Comma
  src/opus/Opus.js
Labels: semver: patch
